<nav class="navbar navbar-expand-lg navbar-dark bg-primary">  
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let menu of menus" [ngClass]="{'active':menu.name===active}">
        <a class="nav-link" href="javascript:void(0)" (click)="navigateTo(menu.link)">{{menu.name}}</a>
      </li>
    </ul>    
  </div>
</nav>
<app-notification></app-notification>
<div class="container-fluid margin-top-10"> 
  <app-spinner *ngIf="spinner"></app-spinner>
     
    <router-outlet></router-outlet>
</div>