<div class="row">
    <div class="col-sm-12">
      <form novalidate [formGroup]="pickupForm">
        <div class="form-group">
          <label for="settlement">Upload pickup file</label>
          <input type="file" class="form-control-file" id="settlement" (change)="onFileChange($event)" formControlName="pickup"
            accept=".txt">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="uploadPickups()" [disabled]="pickupForm.status==='INVALID'">Upload</button>
        </div>
      </form>
    </div>
  </div>